.observed {
    position: fixed;
    width: 600px;
    height: 100px;

    bottom: 100px;
    left: 50%;
    margin-left: -300px;

    color: white;
    background-color: rgba(24, 30, 39, 0.8);
    .logo {
        padding: 5px;
    }
    .avatar-box {
        flex: 1;
        display: flex;
        height: 100%;
        width: 200px;

        .imagefade {
            flex: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            
            height: 100px;
            width: 200px;
            z-index: 2;
        }
    }

    .databox {
        position: absolute;
        bottom: 0;
        left: 0;

        height: 100%;
        width: 400px;

        margin-left: 200px;

        .fist-row {
            padding: 2px 2px 2px 0;
            margin-left: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .username {
                padding-left: 15px;
                font-size: 32px;
            }
            .grenade_container {
                height: 100%;
                display: flex;
                align-items: center;
                width: 140px;
                position: absolute;
                right: 10px;
                justify-content: flex-end;
                svg {
                    height: 30px;
                }
            
            }
        }
        .second-row {
            padding: 2px;
            display: flex;
            height: 50%;
            flex-direction: row;
            align-items: center;

            .statistics {
                width: 190px;
                height: 50px;
                padding-bottom: 0px;
                position: absolute;
                left: 0;
                .bgcolor {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    font-size: 18px;
                    height: 100%;
                    .stat {
                        padding-left: 13px;
                        padding-right: 13px;
                    }
                }
            }
            .ammo {
                height: 50px;
                width: 110px;
                position: absolute;
                right: 5px;
                margin-bottom: -5px;
                .ammo_counter {
                    flex: 1;
                    display: flex;
                    font-size: 32px;
                    font-weight: 600;
                    justify-content: center;
                    align-items: center;
                    > div {
                        width: 32px;
                        display: flex;
                    }
                    .ammo_clip {
                        justify-content: flex-end;
                        margin-left: -5px;
                    }
                    .ammo_reserve {
                        justify-content: flex-start;
                    }
                }
                .ammo_icon_container {
                    display: flex;
                    height: 100%;
                    width: 48px;
                    justify-content: center;
                    svg {
                        max-width: 30px;
                        fill: white;
                    }
                }
            }    
        }
    }


    .avatar {
        align-self: flex-end;
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        height: 200px;
        z-index: 1;
    }

    .health_armor_container {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: flex-end;
        gap:0.1rem;
        z-index: 2;
        .text {
            width: 30px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            font-weight: 600;
            font-size: 26px;
            height: 100%;
            padding-bottom: 10px;
        }
        .icon {
            display: flex;
            width: 30px;
            align-items: center;
            justify-content: center;
            padding-bottom: 10px;
            svg {
                fill: #fff;
                max-height:30px;
                max-width:22px;
            }
        }
    }

    &.T {
        .avatar-box {
            background: var(--color-new-t06);
        }
        .avatar-box .imagefade {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-new-t06) 65%, var(--color-new-t) 100%);
        }
    }
    &.CT {
        .avatar-box {
            background: var(--color-new-ct06);
        }
        .avatar-box .imagefade {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, var(--color-new-ct06) 65%, var(--color-new-ct) 100%);
        }
    }
}


#cameraFeed {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    transform: scale(0.94);
    left: 0px;
    bottom: 0;
    transform-origin: bottom left;
    iframe {
        position: relative;
        border: none;
        width: 750px;
        height: 300px;
    }
}